:root{
    --bg-color: #333;
    --txt-color: #fff;
    --secondary-color:#76B900;
    --border-rad: 2%;
}
/* Basic styling for navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--txt-color);
    padding: 10px 20px;
    transition: all 1s ease;
}
.navbar-links a{
    padding: 1px 5px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10%;
    display: inline;

}
.navbar-links a:hover{
    background-color: var(--secondary-color);
}
.navbar-links a:active{
    background-color: var(--secondary-color);
}
/* Styling for collapsed navbar*/
.collapsed .navbar-links{
    display: none;
}

/* Styling for collapsed toggle icon.
* hide 2nd child and rotate the 1st and 3rd children
* to form X for close 
*/
.navbar-toggle {
    cursor: pointer;
    display: none;
}
.icon span{
    background-color: var(--secondary-color);
    padding: 2px 10px;
    margin: 2px;
    border-radius: 20%;
    gap: 10px;
    display: flex;
    position: relative;
    
}
/*Styling for open icon*/
.icon.open span:nth-child(1){
    transform: rotate(-45deg) translate(-3px, 6px);
}
.icon.open span:nth-child(2){
    opacity: 0;
}
.icon.open span:nth-child(3){
    transform: rotate(45deg) translate(-3px, -6px);
}

/*Media queries for responsiveness
* 1. Make contents flow downward.
* 2. Hide navbar-links
* 3. Display toggle button
* 4. Display/Hide navbar-links when icon is toggled
*/



@media screen and (max-width: 768px){
    .navbar{
        flex-direction: row;
        align-items: flex-start;
    }


    .navbar-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--bg-color);
        padding: 10px;
    }

    .collapsed .navbar-links{
        display: flex;
    }

    .navbar-toggle {
        float: none;
        display: block;
        text-align: left;
    }
}
/* This enables the navbar to be restored even though
* the icon is still open, the long awaited fix*/
@media screen and (min-width: 768px){
    .navbar{
        display: flex;
    }


    .navbar-links{
        float: right;
        text-align: right;
        background-color: var(--bg-color);
        padding: 10px;
    }

    .collapsed .navbar-links{
        display: flex;
    }

    .navbar-toggle {
        float: none;
        display: none;
        text-align: left;
    }
}



/*Styling the contact form
* .form: grand-parent
* form: parent
* form-group: children, form details
*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height:auto;
    padding: 0px 0px 10px 0px;
    background-color: var(--bg-color);
    color:var(--txt-color);
    border-top-left-radius: var(--border-rad);
    border-top-right-radius: var(--border-rad);
}
/*Styling the parent*/
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 88%;
    height : 100%;
    padding: 10px;
    background: #0d0e0d;
    border-radius: 4px;
}
/*Styling the children*/
.form form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.form label{
    color: rgb(247, 246, 246);
    text-decoration: solid;
    align-content: center;
    flex-direction: flex-start;
}
.form input[type="text"], input[type="number"]{
    border: 1px solid #777575;
    border-radius: 4px;
    border-block-start-width: border-box;
    max-width: 40%;
}
.form input{
    align-items: flex-start;
}
.form button[type = submit] {
    background-color: var(--secondary-color);
    display: flex;
    align-items: flex-start;
    border-radius: 5px;max-width: 20%;
}
.form button[type = submit]:hover{
    background-color: #3cdb49;
    cursor: pointer;

}

/** Styling bodyContent */
.home-content-container{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-image-container{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    max-height: 480px;
    margin: 0 auto;
    background-color: #3cdb49;
    padding: 10px 10px 10px 10px;

}
.heading-image-container img{
    max-width: 100%;
    height:auto;
    max-height: 480px;
    display: block;
}
.image-gallery{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px;
    padding-bottom: 20px;
    background-color: red;

}
.slideshow-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    max-width: 100%;
    max-height: 540px;
    margin: 0 auto;

}
.slideshow-container img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    transition: opacity 0.5s;
  }

